/Learning_py/Project_1/testing
/Learning_py/Project_2/data
/Test
/Learning_py/Project_3/data
/GUI_Inference/output.avi
/data
/GUI_Inference/data
/GUI_Inference/Pre_trained
GUI_Inference/Pre_trained/Inference/temporal_shift_module
GUI_Inference/Pre_trained/Inference/temporal_shift_module
